<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div>
        <h1>hello,musevery</h1>
        <audio id="mus" src="static/music/getup/蔡健雅 - 红色高跟鞋.mp3" controls="controls" autoplay="autoplay"></audio>
        <h4 id="mus_name"></h4>
        <h3 id="next">下一曲</h3>
        <h3 id="pre">上一曲</h3>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>