<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div>
        <h1>hello,musevery</h1>
    	    <audio id="mus" src="static/music/蔡健雅 - 红色高跟鞋.mp3" controls="controls" loop="loop">
		</audio>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/scripy.js"></script>
</body>
</html>